# Aby użyć usunąć .example z nazwy

JWT_SECRET="7e369d7f-8a06-48c0-9682-e77800abfba7"
JWT_SECRET2="7e369d7f-8a06-48c0-9682-e77800abfba7asdasdas122313131sdsds12"
JWT_EMAILLOGIN="7e369d7f-8a06-48c0-968sdasdadsd12312sd@#12321321376686868"
BCRYPT_SALT="10"
CLOUDINARY_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
GMAIL_APP_EMAIL=""
GMAIL_APP_PASSWORD=""
GMAIL_LOGO_APP=""
GEMINI_API_KEY=""